# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
awsdb
# build
dist
build
out
.next

# misc
.DS_Store
*.pem
.env*
!.env.example

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# turbo
.turbo
apps/backend/chatbot-service/data

**/__pycache__/
*.pyc
*/*/venv/
apps/backend/chatbot-service/venv
apps/backend/chatbot-service/src/utils/__pycache__/
apps/backend/usermng-service/src/config/organizationConnections.json
apps/backend/banking-service-api/prisma/data.json
apps/backend/banking-service-api/.vscode/launch.json
apps/backend/banking-service-api/.vscode/settings.json
apps/backend/chatbot-service/.vscode/tasks.json
apps/frontend/client/public/config.js
apps/frontend/admin-dashboard/public/config.js
apps/frontend/admin-dashboard/.firebase/hosting.ZGlzdA.cache
apps/frontend/client/.firebase/hosting.ZGlzdA.cache
